*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: rgb(104, 43, 43);
    color: white;
}
.Hamberger{
            display: none;
        }

#menu{
    display: none;
}
@media(max-width:760px){
        .Hamberger{
        display:block;
        background-color: #f2f2f2;
        }
            nav{
                display: none;
                flex-direction: column;
                gap: 10px;
            }
        }
        #menu:checked+.Hamberger+.links{
                display: flex;
            }  
            a{
                text-align: center;
                flex-direction: column;
                color: rgb(103, 205, 205);
            } 

        

nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
    color: rgb(105, 67, 16);
}


.hero{
    background-image: url("https://plus.unsplash.com/premium_photo-1664202526559-e21e9c0fb46a");
    background-size: cover;
    background-position: center;
    height: 200px;
    text-align: center;
    padding: 20px;
    color: white;
}

.hero button{
    height: 30px;
    width: 90px;
    background-color: burlywood;
    border: none;
    cursor: pointer;
}


.About{
    max-width:1000px;
    margin:40px auto;
    padding:20px;
    background:#fff;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    text-align: center;
}
.Shop h3{
    text-align: center;
}


.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: 0.5s;
}

.card img:hover{
    transform: scale(1.1);
}

.card button{
    margin-top: 10px;
    padding: 8px 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.contact{
    max-width:1000px;
    margin:40px auto;
    padding:20px;
    background:#fff;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.contact h2{
    text-align:center;
    margin-bottom:20px;
}

.contact form{
    display:grid;
    gap:15px;
    max-width:500px;
    margin:auto;
}

.contact button{
    padding:12px;
    background:rgb(156, 49, 49);
    color:#fff;
    border:none;
    border-radius:5px;
}


footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}
